

<!doctype html>
<html lang="en">
    <head>
        <title>
            
        </title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="cuerpo.css">
    </head>
    <style>
        .cuerpoHumano {
            position: relative;
            display: inline-block;
            text-align: center;
            align-items: center;
            justify-content: center;
        
        }
        
        .parteCuerpo {
            position: absolute;
            background-color: aqua;
            border: solid;
            cursor: pointer;
        
        }
        
        
    </style>

    <body>
        <header>
            <!-- place navbar here -->
        </header>
        <main>
          
            <form action="">
                <center>
                    <div class="cuerpoHumano" id="cuerpoHumano">
                        <img src="image.png" alt="Cuerpo Humano" id="imagenCuerpo" />
                    </div>
                </center>
                
            </form>
            
            <script>
            
            const cuerpo = document.getElementById("cuerpoHumano")
                
            const partesDelCuerpoFront = [
            { nombre: "Cabeza", x: 32, y: 1, ancho: 38, alto: 45 },  // Cabeza
            { nombre: "Torso", x: 30, y: 65, ancho: 50, alto: 120 }, // Torso
            { nombre: "BrazoIzquierda", x: 4, y: 90, ancho: 20, alto: 100 }, // Brazo izquierdo
            { nombre: "BrazosDerecho", x: 85, y: 90, ancho: 20, alto: 100 }, // Brazo derecho
            { nombre: "PiernasIzquierda", x: 25, y: 265, ancho: 26, alto: 100 }, // Pierna izquierda
            { nombre: "PiernasDerecha", x: 60, y: 265, ancho: 25, alto: 100 }, // Pierna derecha
            { nombre : "cuello ", x: 37, y: 45,ancho :30,alto:20}, // cuello 
            { nombre : "hombroDerecho ", x:80 , y:  66 , ancho: 30 , alto:30 }, // hombro derecho 
            { nombre : "HombroIzquierdo ", x :3, y:66,ancho : 30,alto : 30}, // hombro izquierdo 
            
            ];

            function CrearPartesDelCuerpoFront(){
                partesDelCuerpoFront.forEach(parte => {
                    const parteElemento = document.createElement("div")
                    parteElemento.classList.add("parteCuerpo")
                    parteElemento.style.left= `${parte.x}px`;
                    parteElemento.style.top = `${parte.y}px`;
                    parteElemento.style.width = `${parte.ancho}px`;
                    parteElemento.style.height = `${parte.alto}px`;
                    parteElemento.setAttribute("title", parte.nombre);
                    
                    parteElemento.addEventListener("click", () => {
                        alert(`Has seleccionado: ${parte.nombre}`);
                    });

                    cuerpo.appendChild(parteElemento);

                })
            }

            CrearPartesDelCuerpoFront()


                
                
            </script>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
