{% load static %}
<!doctype html>
<html lang="en">
    <head>
    <title>FormularioInicial</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"/>
    </head>

<body>
    <header>
        <h2>Datos de ingreso de paciente </h2>
        <form action="" method="post">
            <div class="mb-3">
                <label for="" class="form-label">Rut</label>
                <input
                    type="rut"
                    class="form-control"
                    name="rut"
                    id="rut"
                    placeholder="Ingrese rut de paciente"
                />
                <label for="" class="form-label">Nombres</label>
                <input
                    type="nombres"
                    class="form-control"
                    name="nombres"
                    id="nombres"
                    placeholder="Ingrese nombres de paciente"
                />
                <label for="" class="form-label">Apellidos</label>
                <input
                    type="Apellidos"
                    class="form-control"
                    name="Apellidos"
                    id="Apellidos"
                    placeholder="Ingrese apellidos de paciente"
                />
                <label for="" class="form-label">Fecha de Nacimiento</label>
                <input
                    type="ncto"
                    class="form-control"
                    name="ncto"
                    id="ncto"
                    placeholder="Ingrese Fecha de Nacimiento de paciente"
                />
                <label for="" class="form-label">Contacto</label>
                <input
                    type="contact"
                    class="form-control"
                    name="contact"
                    id="contact"
                    placeholder="Ingrese Telefono de paciente"
                />
            </div>
            <button type ="submit" class="botonBack">
                Volver al menu 
            </button>
            <button type ="submit" class="botonSiguiente">
                Siguiente 
            </button>
            <h2>Caracter&iacutesticas de su dolor</h2>
            <!-- PRIMERA PREGUNTA DEL FORMULARIO -->
            <div>
            <label 
            for="" class="form-label">1.-Duraci&oacuten de su dolor
            </label>
            <input type="range" 
            min="1" max="100" 
            value="50" 
            class="slider" 
            id="DuracionDolor" REQUIRED>
            </div>
            <!-- SEGUNDA PREGUNTA DEL FORMULARIO -->
            <div class="list-group">2.-Seleccione las caracter&iacutesticas de su dolor
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" />
                    Punzante
                </label>
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" />
                    Ardiente
                </label>
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" />
                    Sordo
                </label>
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" />
                    Puls&aacutetivo
                </label>
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" />
                    Opresivo
                </label>
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" />
                    Corriente
                </label>
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" />
                    Adormecimiento
                </label>
                <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" />
                    Hormigueo
                </label>
            </div>
            <!-- TERCERA PREGUNTA DEL FORMULARIO -->
            <div class="mb-3">
                    <label for="" class="form-label">3.-De la lista a continuaci&oacuten, ¿Qu&eacute elemento o circunstancia relaciona usted con el comienzo de su dolor?</label>
                    <select
                        class="form-select form-select-lg"
                        name=""
                        id=""
                    >
                        <option selected>--Seleccione uno--</option>
                        <option value="a">Accidente dom&eacutestico</option>
                        <option value="b">Accidente vehicular</option>
                        <option value="c">Accidente laboral</option>
                        <option value="d">Por enfermedad</option>
                        <option value="e">Post cirug&iacutea</option>
                        <option value="f">Sin causa identificada o reconocida</option>
                    </select>
            </div>
            <!-- CUARTA PREGUNTA DEL FORMULARIO-->
            <div 
                class="btn-group"
                role="group"
                aria-label="Basic checkbox toggle button group"
            > 4.-¿Es su dolor resultado de un accidente laboral?
                <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="btncheck1"
                    autocomplete="off"
                />
                <label
                    class="btn btn-outline-primary"
                    for="btncheck1"
                    >Si</label
                >
            
                <input
                    type="radio"
                    class="btn-check"
                    name="btnradio"
                    id="btncheck2"
                    autocomplete="off"
                />
                <label
                    class="btn btn-outline-primary"
                    for="btncheck2"
                    >No</label
                >
            </div>
            <!-- HACER CON CSS POSIBLE OCULTAR EN EL CASO QUE LA RESPUESTA SEA DISTINTA QUE SI-->
            <div class="mb-3">
                <label for="" class="form-label" >¿Recibi&oacute una buena atenci&oacuten por la mutualidad contratada por su empresa?</label>
                <textarea class="form-control" name="" id="" rows="1">Ingrese texto</textarea>
            </div>
            <!-- QUINTA PREGUNTA DEL FORMULARIO-->
            <div 
            class="btn-group"
            role="group"
            aria-label="Basic checkbox toggle button group"
            > 5.- ¿Piensa usted que su dolor es señal de un problema/enfermedad seria que no ha sido diagnosticada?
            <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btncheck1"
                autocomplete="off"
            />
            <label
                class="btn btn-outline-primary"
                for="btncheck1"
                >Si</label>
        
            <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btncheck2"
                autocomplete="off"
            />
            <label
                class="btn btn-outline-primary"
                for="btncheck2"
                >No</label
            >
            
            <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btncheck3"
                autocomplete="off"
            />
            <label
                class="btn btn-outline-primary"
                for="btncheck3"
                >Nolo s&eacute</label>
            </div>
            <!-- SEXTA PREGUNTA DEL FORMULARIO-->
            <div 
            class="btn-group"
            role="group"
            aria-label="Basic checkbox toggle button group"
            > 6.- ¿Piensa usted que hay cura para su dolor?
            <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btncheck1"
                autocomplete="off"
            />
            <label
                class="btn btn-outline-primary"
                for="btncheck1"
                >Si</label
            >
            <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btncheck2"
                autocomplete="off"
            />
            <label
                class="btn btn-outline-primary"
                for="btncheck2"
                >No</label
            >
            
            <input
                type="radio"
                class="btn-check"
                name="btnradio"
                id="btncheck3"
                autocomplete="off"
            />
            <label
                class="btn btn-outline-primary"
                for="btncheck3"
                >Nolo s&eacute</label>
            </div>
            <!-- SEPTIMA PREGUNTA DEL FORMULARIO-->
            <div class="mb-3">
            <p>7.- ¿Hay alguna actividad importante que no esta pudiendo realizar o tiene dificultades debido a su dolor persistente?</p>
            a)Describa la actividad
            <label for="" class="form-label"></label>
            <textarea class="form-control" name="" id="" rows="1">Ingrese texto</textarea>
            b)Porfavor describa la habilidad de realizar  dicha actividad cuando experimenta su dolor:
            <label 
            for="" class="form-label"> 
            </label>
            <input type="range" 
            min="1" max="100" 
            value="50" 
            class="slider" 
            id="ProgressionBarPregunta7" REQUIRED>
            </div>
            
        </form>    
        
        </div>
        
        </nav>
        <main></main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
