<!doctype html>
<html lang="en">
    <head>
        <title>Agregar Clínicos</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <main>
            <div class="container mt-5">
                <h1>Agregar Clínico</h1>
                {% if messages %}
                    <div>
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="rut" class="form-label">Rut</label>
                        <input
                            type="text"
                            class="form-control"
                            id="rut"
                            name="rut"
                            placeholder="12345678-9"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input
                            type="text"
                            class="form-control"
                            id="nombre"
                            name="nombre"
                            placeholder="Juan"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input
                            type="text"
                            class="form-control"
                            id="apellido"
                            name="apellido"
                            placeholder="Perez"
                        />
                    </div>

                    <div class="mb-3">
                        <label for="contraseña" class="form-label">Contraseña</label>
                        <input
                            type="text"
                            class="form-control"
                            id="contraseña"
                            name="contraseña"
                            placeholder="12345678"
                        />
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar Clínico</button>
                </form>
                
            </div>
        </main>
    </body>
</html>
