{%load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Buscar Paciente</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'CSS/historial.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <span class="navbar-brand">
                <a href="{%url 'panel' %}">
                    <i class='delphi'><img src="{% static 'image/Logo_Centro_Clinico_Delphi.svg' %}" alt="" width="150">
                    </i> 
                </a>
               
                
            </span>
            <div class="d-flex align-items-center">
                <div class="menu-links">

                    <i><h1 style="color: white;">Bienvenido {{ nombre_clinico }}</h1></i>
                </div>
            </div>
        </div>
    </nav>

    <div class="d-flex">
        <div class="sidebar">
            <h4>Menú</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'formularioInicial' %}">
                        <i class='bx bx-user'></i>
                        Agregar Pacientes
                    </a>
                </li>
                <li>
                    <a href="{% url 'ficha' %}">
                        <i class='bx bx-list-ul'></i>
                        Lista de Pacientes
                    </a>
                </li>
                {% if es_admin %}
                <li>
                    <a href="{% url 'ver' %}" class="calendar-plus">
                        <i class='bx bx-calendar-plus'></i>
                        Lista Clinicos
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="#">
                        <i class='bx bx-chart'></i>
                        Gráfico de salud por paciente
                    </a>
                </li>
                <li>
                    <a href="{% url 'cerrarSesion' %}" class="text-danger">
                        <i class='bx bx-log-out'></i>
                        Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>


    <div class="container mt-4">
        <h4>Buscar Paciente por RUT</h4>
        <form method="post" action="{% url 'historialClinico' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="rut" class="form-label">Ingrese RUT:</label>
                <input type="text" class="form-control" id="rutsito" name="rutsito" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        {% if error %}
            <div class="alert alert-danger mt-3">{{ error }}</div>
        {% endif %}

        <main>
            <div class="patient-info mt-4">
                <h4>Ficha Clínica del Paciente</h4>
        
                <div class="patient-data">
                    <div class="grupo1">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ paciente.nombre }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="rut" class="form-label">RUT:</label>
                            <input type="text" class="form-control" id="rut" name="rut" value="{{ paciente.rut }}" readonly>
                        </div>
                    </div>
        
                    <div class="grupo2">
                        <div class="mb-3">
                            <label for="fechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                            <input type="text" class="form-control" id="fechanac" name="fechanac" value="{{ paciente.fechaNacimiento }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono:</label>
                            <input type="text" class="form-control" id="telefono" name="telefono"
                                value="{{ paciente.contacto }}" readonly />
                        </div>
                    </div>
        
                    <div class="grupo3">
                        <div class="mb-3">
                            <label for="cobertura_de_salud" class="form-label">Cobertura de Salud:</label>
                            <input type="text"
                                class="form-control"
                                id="cobertura_de_salud"
                                name="cobertura_de_salud"
                                value="{{ paciente.cobertura_de_salud }}"
                                readonly />
                        </div>
                    </div>
                </div>
        
                <!-- Historial Médico -->
                <div class="historial-container">
                    <div class="mb-3" id="historial">
                        <label for="historial" class="form-label">Historial Médico:</label>
                        <div class="historial-box">
                            <div class="historial-container">
                                <div class="mb-3" id="historial">
                                    <label for="historial" class="form-label">Historial Médico:</label>
                                    <div class="historial-box">
                                        <a href="{% url 'ficha' %}?rut={{ paciente.rut }}" id="informe-button" style="display: none;">
                                            <img src="{% static 'image/Logo_Centro_Clinico_Delphi' %}" width="300"  class="img-fluid" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" 
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" 
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" 
        crossorigin="anonymous"></script>

        <script>
            function toggleButtonVisibility() {
                const nombre = document.getElementById('nombre').value;
                const rut = document.getElementById('rut').value;
                const fechanac = document.getElementById('fechanac').value;
                const telefono = document.getElementById('telefono').value;
                const coberturaDeSalud = document.getElementById('cobertura_de_salud').value;
            
                const button = document.getElementById('informe-button');
            
    
                if (nombre && rut && fechanac && telefono && coberturaDeSalud) {
                    button.style.display = 'block'; 
                } else {
                    button.style.display = 'none'; 
                }
            }
            
    
            toggleButtonVisibility();
            
            document.querySelectorAll('.patient-data input').forEach(input => {
                input.addEventListener('input', toggleButtonVisibility);
            });
            </script>


</body>

</html>