{% load static %}

<!doctype html>
<html lang="es">
<head>
    <title>Panel De Control</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'CSS/panel.css' %}">
</head>
<body >


    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <span class="navbar-brand">
                <a href="{%url 'panel' %}">
                    <i class='delphi'><img src="{% static 'image/Logo_Centro_Clinico_Delphi.svg' %}" alt="" width="150">
                    </i> 
                </a>
            </span>
            <div class="d-flex align-items-center">
                <div class="menu-links">

                    <i><h1 style="color: white;">Bienvenido {{ nombre_clinico }}</h1></i>
                </div>
            </div>
        </div>
    </nav>

    <div class="d-flex">
        <div class="sidebar">
            <h4>Menú</h4>
            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'formularioInicial' %}">
                        <i class='bx bx-user'></i>
                        Agregar Pacientes
                    </a>
                </li>
                <li>
                    <a href="{% url 'historialClinico' %}">
                        <i class='bx bx-list-ul'></i>
                        Historial Clinico de Pacientes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-chart'></i>
                        Gráfico de salud por paciente
                    </a>
                </li>
                {% if es_admin %}
                <li>
                    <a href="{% url 'ver' %}" class="calendar-plus">
                        <i class='bx bx-calendar-plus'></i>
                        Lista Clinicos
                    </a>
                </li>
                {% endif %}

                {% if es_admin %}
                <li>
                    <a href="{% url 'pacientes' %}" class="calendar-plus">
                        <i class='bx bx-calendar-plus'></i>
                        Lista De Pacientes
                    </a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'cerrarSesion' %}" class="text-danger">
                        <i class='bx bx-log-out'></i>
                        Cerrar Sesión
                    </a>
                </li>


            </ul>
        </div>

        <main class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="dashboard-card">
                            <h5><i class='bx bx-user-plus'></i> Pacientes atendidos</h5>
                            <h3 class="text-info">{{numeroPaciente}}</h3>
                            <p class="text-muted">En total</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dashboard-card">
                            <h5><i class='bx bx-calendar-check'></i>Pacientes atendidos</h5>
                            <h3 class="text-success">12</h3>
                            <p class="text-muted">Esta semana</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dashboard-card">
                            <h5><i class='bx bx-time-five'></i>Indice de pacientes</h5>
                            <h3 class="text-info">25 min</h3>
                            <p class="text-muted">Por consulta</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="dashboard-card">
                            <h5><i class='bx bx-time-five'></i> Tiempo Promedio</h5>
                            <h3 class="text-info">{{promedio_formateado}}</h3>
                            <p class="text-muted">Por consulta</p>
                        </div>
                    </div>
        
                </div>
            </div>
        </main>
    </div>
    
    <footer class="text-white text-center">
        <p class="mb-0">&copy; 2024 Dashboard Clínico - Todos los derechos reservados</p>
    </footer>
    
    <script src="login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>