{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROC Escala - Sistema de Seguimiento Clínico</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'CSS/GROC.css' %}"/>
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{%url 'panel' %}">
                    <i class="fas fa-hospital-user me-2"></i>Sistema Clínico
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    <main class="container mx-auto flex-grow p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="bg-white shadow-lg rounded-lg p-6">
                <h2 class="text-xl font-semibold mb-4 text-blue-800">Selección de Paciente</h2>
                <div>
                    <label for="rut" class="block mb-2">RUT:</label>
                    <input type="text" id="rut" class="w-full p-2 border rounded-lg" name="rut" value="{{ rut }}" readonly>
                </div>
                <div id="patient-info" class="mt-4">
                    <p class="mb-2"><strong>Nombre:</strong> {{ paciente.nombre }} {{paciente.apellido}}</p>
                    <p class="mb-2"><strong>Género:</strong> {{ paciente.genero }}</p>
                    <p class="mb-2"><strong>Profesión:</strong> {{ paciente.profesion }}</p>
                    <p class="mb-2"><strong>Cobertura:</strong> {{ paciente.cobertura_de_salud }}</p>
                </div>

                <div id="puntajes" class="bg-white p-6 rounded-lg shadow-lg max-w-4xl mx-auto mt-6">
                    <h3 class="text-2xl font-semibold text-blue-800 mb-4">Puntajes GROC</h3>
                    
                    {% if puntajes %}
                        <div class="overflow-x-auto">
                            <table class="min-w-full table-auto border-collapse">
                                <thead class="bg-blue-800 text-white">
                                    <tr>
                                        <th class="px-6 py-3 text-left text-sm font-medium">Sesión</th>
                                        <th class="px-6 py-3 text-center text-sm font-medium">Puntaje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for puntaje in puntajes %}
                                        <tr class="border-b hover:bg-gray-100">
                                            <td class="px-6 py-3 text-left">{{ forloop.counter }}</td>
                                            <td class="px-6 py-3 text-center">{{ puntaje.puntaje }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="text-center text-gray-500 mt-4">No hay puntajes registrados.</p>
                    {% endif %}
                </div>
                
                
            </div>
            
            
            
            <form id="groc-form" method='POST'>
                {% csrf_token %}
                <div class="bg-white shadow-lg rounded-lg p-6">
                    <h2 class="text-xl font-semibold mb-4 text-blue-800">Escala GROC</h2>
                    <div class="grid grid-cols-7 gap-2" id="groc-scale">
                        <!-- Botones de selección -->
                        <button type="button" data-value="-7" class="groc-btn bg-red-500 text-white p-2 rounded hover:bg-red-600">-7</button>
                        <button type="button" data-value="-6" class="groc-btn bg-red-500 text-white p-2 rounded hover:bg-red-600">-6</button>
                        <button type="button" data-value="-5" class="groc-btn bg-red-400 text-white p-2 rounded hover:bg-red-500">-5</button>
                        <button type="button" data-value="-4" class="groc-btn bg-red-400 text-white p-2 rounded hover:bg-red-500">-4</button>
                        <button type="button" data-value="-3" class="groc-btn bg-red-300 text-white p-2 rounded hover:bg-red-400">-3</button>
                        <button type="button" data-value="-2" class="groc-btn bg-red-300 text-white p-2 rounded hover:bg-red-400">-2</button>
                        <button type="button" data-value="-1" class="groc-btn bg-red-200 text-white p-2 rounded hover:bg-red-300">-1</button>
                        <button type="button" data-value="0" class="groc-btn bg-gray-300 text-gray-800 p-2 rounded hover:bg-gray-400">0</button>
                        <button type="button" data-value="1" class="groc-btn bg-green-200 text-white p-2 rounded hover:bg-green-300">+1</button>
                        <button type="button" data-value="2" class="groc-btn bg-green-300 text-white p-2 rounded hover:bg-green-400">+2</button>
                        <button type="button" data-value="3" class="groc-btn bg-green-400 text-white p-2 rounded hover:bg-green-500">+3</button>
                        <button type="button" data-value="4" class="groc-btn bg-green-400 text-white p-2 rounded hover:bg-green-500">+4</button>
                        <button type="button" data-value="5" class="groc-btn bg-green-500 text-white p-2 rounded hover:bg-green-600">+5</button>
                        <button type="button" data-value="6" class="groc-btn bg-green-500 text-white p-2 rounded hover:bg-green-600">+6</button>
                        <button type="button" data-value="7" class="groc-btn bg-green-600 text-white p-2 rounded hover:bg-green-700">+7</button>
                    </div>
                    
                    <div class="mt-4 text-center">
                        <p class="text-lg font-bold">Valor Seleccionado: <span id="selected-value" class="text-blue-600">0</span></p>
                        <input type="hidden" id="puntajeGroc" name="puntajeGroc" value="0">
                    </div>
                </div>
            
                <div class="mt-6 bg-white shadow-lg rounded-lg p-6">
                    <h2 class="text-xl font-semibold mb-4 text-blue-800">Registrar Evaluación</h2>
                    <div>
                            <label class="block mb-2">Nota Adicional (Opcional)</label>
                            <textarea id="evaluation-notes" name="nota_adicional" class="w-full p-2 border rounded-lg" rows="3">{{NotaGroc|default:"el Paciente No tiene Notas"}}
                            </textarea>
                        </form>
                        
                        
                    </div>
                    <div class="md:col-span-2">
                        <center>
                            {% if not evaluacion_existente %}
                                <button type="submit" class="btn btn-primary" name="action" value="guardar">Guardar</button>
                            {% endif %}
                            {% if evaluacion_existente %}
                            <button type="submit" class="btn btn-secondary" name="action" value="actualizar">Actualizar</button>
                            {% endif %}
                            <button type="submit" class="btn btn-secondary" name="action" value="GuardarNota">GuardarNota</button>
                        </center>
                    </div>
                </div>
            </form>
            
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const buttons = document.querySelectorAll(".groc-btn");
                    const selectedValue = document.getElementById("selected-value");
                    const hiddenInput = document.getElementById("puntajeGroc");
            
                    buttons.forEach(button => {
                        button.addEventListener("click", function () {
                            const value = this.getAttribute("data-value");
                            selectedValue.textContent = value;
                            hiddenInput.value = value;
            
                            // Quita la selección de todos los botones y resalta el seleccionado
                            buttons.forEach(btn => btn.classList.remove("ring-2", "ring-blue-500"));
                            this.classList.add("ring-2", "ring-blue-500");
                        });
                    });
                });
            </script>
        </div>
        <div id="chart-container">
            <canvas id="grocChart"></canvas>
        </div>
       
    </main>

    <footer class="bg-gray-800 text-white p-4 text-center">
        <p>&copy; 2024 Sistema de Seguimiento Clínico GROC</p>
    </footer>

   

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Obtener los datos de puntajes desde Django, como un arreglo de objetos
            const puntajes = {{ puntajes|safe }};  // Inyectamos los datos de puntajes desde Django
    
            // Extraer las sesiones y los puntajes de los datos
            const sesiones = puntajes.map((item, index) => `Sesión ${index + 1}`);
            const valores = puntajes.map(item => item.puntaje);
    
            // Configuración del gráfico
            const ctx = document.getElementById('grocChart').getContext('2d');
const grocChart = new Chart(ctx, {
    type: 'line', 
    data: {
        labels: sesiones,  // Datos de las sesiones en el eje X
        datasets: [{
            label: 'Evolución del Paciente',
            data: valores,  // Datos de los puntajes
            borderColor: 'rgba(75, 192, 192, 1)',  // Color de la línea
            backgroundColor: 'rgba(75, 192, 192, 0.2)',  // Color del área debajo de la línea (semi-transparente)
            fill: true,  // Rellenar debajo de la línea (puedes cambiar a `false` si no deseas relleno)
            tension: 0.4,  // Curvatura de la línea, un valor mayor da una curva más suave
            borderWidth: 2,  // Grosor de la línea
            pointBackgroundColor: 'rgba(75, 192, 192, 1)',  // Color de los puntos en la línea
            pointRadius: 5,  // Radio de los puntos
            pointHoverRadius: 8,  // Radio de los puntos cuando pasas el mouse sobre ellos
            pointBorderColor: '#fff',  // Color del borde de los puntos
            pointBorderWidth: 2,  // Ancho del borde de los puntos
            lineTension: 0.4,  // Suaviza las curvas de la línea
        }]
    },
    options: {
        responsive: true,  // El gráfico es responsivo
        maintainAspectRatio: false,  // Permite que el gráfico se ajuste al tamaño del contenedor
        scales: {
            y: {
                beginAtZero: true,  // Empieza el eje Y desde cero
                title: {
                    display: true,  // Mostrar título en el eje Y
                    text: 'Puntaje',  // Título del eje Y
                    font: {
                        size: 16,  // Tamaño de la fuente
                        weight: 'bold',  // Peso de la fuente
                    },
                    color: '#333',  // Color del título
                },
                grid: {
                    color: '#ddd',  // Color de la cuadrícula
                    borderColor: '#ccc',  // Color del borde de la cuadrícula
                    borderWidth: 1,  // Ancho del borde de la cuadrícula
                },
            },
            x: {
                title: {
                    display: true,  // Mostrar título en el eje X
                    text: 'Sesiones',  // Título del eje X
                    font: {
                        size: 16,  // Tamaño de la fuente
                        weight: 'bold',  // Peso de la fuente
                    },
                    color: '#333',  // Color del título
                },
                grid: {
                    color: '#ddd',  // Color de la cuadrícula
                    borderColor: '#ccc',  // Color del borde de la cuadrícula
                    borderWidth: 1,  // Ancho del borde de la cuadrícula
                },
            }
        },
        plugins: {
            tooltip: {
                backgroundColor: 'rgba(0, 0, 0, 0.7)',  // Color de fondo del tooltip
                titleColor: '#fff',  // Color del título del tooltip
                bodyColor: '#fff',  // Color del cuerpo del tooltip
                borderColor: '#ccc',  // Color del borde del tooltip
                borderWidth: 1,  // Ancho del borde del tooltip
            },
            legend: {
                position: 'top',  // Ubicación de la leyenda
                labels: {
                    font: {
                        size: 14,  // Tamaño de la fuente de la leyenda
                        weight: 'bold',  // Peso de la fuente
                    },
                    color: '#333',  // Color de la fuente de la leyenda
                }
            }
        }
    }
});     
        });
    </script>
    
        
           

</body>
</html>